<!-- component -->
<div class="my-5">
  <!-- Main container for the form, responsive to screen sizes -->
  <div
    class="container mx-auto max-w-xs sm:max-w-md md:max-w-lg lg:max-w-xl shadow-md dark:shadow-white py-4 px-6 sm:px-10 bg-white dark:bg-gray-800 border-emerald-500 rounded-md">

    <!-- Back button -->
    <a href="#" class="px-4 py-2 bg-red-500 rounded-md text-white text-sm sm:text-lg shadow-md">Cancelar</a>

    <div class="my-3">
      <!-- Form title -->
      <h2 class="text-center text-2xl sm:text-3xl font-bold text-gray-900 dark:text-white">Añadir a un usuario</h2>


      <form autocomplete="off" [formGroup]="myForm">

        <!-- Input field for 'Name' -->
        <div class="my-2">
          <label class="text-sm sm:text-md font-bold text-gray-700 dark:text-gray-300">Nombre</label>
          <input type="text" name="name"
                 class="block w-full border border-emerald-500 outline-emerald-800 px-2 py-2 text-sm sm:text-md rounded-md my-2 bg-white dark:bg-gray-700 text-gray-900 dark:text-white"
                 placeholder="Antonio"
                 formControlName="name"
          >
        </div>

        <!--  1r apellido -->
        <div class="my-2">
          <label class="text-sm sm:text-md font-bold text-gray-700 dark:text-gray-300">1r Apellido</label>
          <input type="text" name="name"
                 class="block w-full border border-emerald-500 outline-emerald-800 px-2 py-2 text-sm sm:text-md rounded-md my-2 bg-white dark:bg-gray-700 text-gray-900 dark:text-white"
                 placeholder="Fernandez"
                 formControlName="lastName"
          >
        </div>


        <!-- Campo de 2n apellido -->
        <div class="my-2">
          <label class="text-sm sm:text-md font-bold text-gray-700 dark:text-gray-300">2n Apellido</label>
          <input type="text" name="name"
                 class="block w-full border border-emerald-500 outline-emerald-800 px-2 py-2 text-sm sm:text-md rounded-md my-2 bg-white dark:bg-gray-700 text-gray-900 dark:text-white"
                 placeholder="Fernandez"
                 formControlName="secondLastName"
          >
        </div>


        <!-- Campo de Rol -->
        <div class="my-2">
          <label class="text-sm sm:text-md font-bold text-gray-700 dark:text-gray-300">Rol PENDIENTE HACER UN
            SELECT</label>
          <input type="text" name="name"
                 class="block w-full border border-emerald-500 outline-emerald-800 px-2 py-2 text-sm sm:text-md rounded-md my-2 bg-white dark:bg-gray-700 text-gray-900 dark:text-white"
                 placeholder="empresario"
                 formControlName="rol"
          >
        </div>


        <!-- Campo de email -->
        <div class="my-2">
          <label class="text-sm sm:text-md font-bold text-gray-700 dark:text-gray-300">email</label>
          <input type="text" name="name"
                 class="block w-full border border-emerald-500 outline-emerald-800 px-2 py-2 text-sm sm:text-md rounded-md my-2 bg-white dark:bg-gray-700 text-gray-900 dark:text-white"
                 placeholder="neverLate@gmail.com"
                 formControlName="email"
          >
        </div>

      </form>

      <mat-dialog-actions align="end">
        <button class="px-4 py-1 bg-emerald-500 rounded-md text-black text-sm sm:text-lg shadow-md" (click)="saveUser()"
                cdkFocusInitial>Guardar usuario
        </button>
      </mat-dialog-actions>
    </div>
  </div>
</div>



