<!--
Todo:
1. Deshabilitar el boton de guardar si el formulario no es valido
2. Mostrar errores si el usuario no ha rellenado los datos correctamente
 No me permita guardar a un usuario si este tiene el mismo correo
 Tengo que haber seleccionado un rol para poder guardar al usuario
3. Mostrar feedback si el usuario se ha creado o no correctamente

-->

<!-- component -->
<div class="my-5">
  <!-- Main container for the form, responsive to screen sizes -->
  <div
    class="max-w-xs sm:max-w-md md:max-w-lg lg:max-w-xl shadow-md dark:shadow-white py-4 px-6 sm:px-10 bg-white dark:bg-gray-800 border-emerald-500 rounded-md">

    <!-- Back button -->
    <a mat-dialog-close class="px-4 py-2 bg-red-500 rounded-md text-white text-sm sm:text-lg shadow-md">Cancelar</a>

    <div class="my-3">
      <!-- Form title -->
      <h2 class="text-center text-2xl sm:text-3xl font-bold text-gray-900 dark:text-white">Añadir a un usuario</h2>


      <form autocomplete="off" [formGroup]="myForm">

        <!-- Input field for 'Name' -->
        <div class="my-2">
          <label class="text-sm sm:text-md font-bold text-gray-700 dark:text-gray-300">Nombre</label>
          <input type="text"
                 class="block w-full border border-emerald-500 outline-emerald-800 px-2 py-2 text-sm sm:text-md rounded-md my-2 bg-white dark:bg-gray-700 text-gray-900 dark:text-white"
                 placeholder="Antonio"
                 formControlName="name"
          >
          <form-error [form]="myForm" [formNameSignal]="'name'"/>
        </div>

        <!--  1r apellido -->
        <div class="my-2">
          <label class="text-sm sm:text-md font-bold text-gray-700 dark:text-gray-300">1r Apellido</label>
          <input type="text"
                 class="block w-full border border-emerald-500 outline-emerald-800 px-2 py-2 text-sm sm:text-md rounded-md my-2 bg-white dark:bg-gray-700 text-gray-900 dark:text-white"
                 placeholder="Fernandez"
                 formControlName="lastName"
          >
          <form-error [form]="myForm" [formNameSignal]="'lastName'"/>
        </div>


        <!-- Campo de 2n apellido -->
        <div class="my-2">
          <label class="text-sm sm:text-md font-bold text-gray-700 dark:text-gray-300">2n Apellido</label>
          <input type="text"
                 class="block w-full border border-emerald-500 outline-emerald-800 px-2 py-2 text-sm sm:text-md rounded-md my-2 bg-white dark:bg-gray-700 text-gray-900 dark:text-white"
                 placeholder="Fernandez"
                 formControlName="secondLastName"
          >
          <form-error [form]="myForm" [formNameSignal]="'secondLastName'"/>
        </div>


        <!-- Campo de Rol -->
        <div class="my-2">
          <label class="text-sm sm:text-md font-bold text-gray-700 dark:text-gray-300">Seleccione un Rol</label>
          <select
            class="selectpicker block w-full border border-emerald-500 outline-emerald-800 px-2 py-2 text-sm sm:text-md rounded-md my-2 bg-white dark:bg-gray-700 text-gray-900 dark:text-white"
            data-size="7"
            data-style="btn btn-primary"
            title="Single Select"
            formControlName="rol"
          >
            <option value="2">Jefe</option>
            <option value="3">Administrado</option>
            <option value="4">Prácticas</option>
          </select>
          <form-error [form]="myForm" [formNameSignal]="'rol'"/>
        </div>


        <!-- Campo de email -->
        <div class="my-2">
          <label class="text-sm sm:text-md font-bold text-gray-700 dark:text-gray-300">email</label>
          <input type="email"
                 class="block w-full border border-emerald-500 outline-emerald-800 px-2 py-2 text-sm sm:text-md rounded-md my-2 bg-white dark:bg-gray-700 text-gray-900 dark:text-white"
                 placeholder="neverLate@gmail.com"
                 formControlName="email"
          >
          <form-error [form]="myForm" [formNameSignal]="'email'"/>
        </div>
      </form>

      <mat-dialog-actions align="end">
        <button

          class="px-4 py-1 bg-emerald-500 rounded-md text-black text-sm sm:text-lg shadow-md"
          type="submit"
          (click)="saveUser()"
          cdkFocusInitial>Guardar usuario
        </button>
      </mat-dialog-actions>
    </div>
  </div>
</div>



