<div class="my-5">

  <h1 class="ml-5">Se va a deshabilitar a los siguientes usuarios</h1>


  <mat-list>
    @for (user of users; track user.id) {
      <mat-list-item><strong> Nombre: </strong> {{ user.firstName }} <strong>
        Apellido:</strong>   {{ user.lastName }}
      </mat-list-item>
    }
  </mat-list>

  <mat-dialog-actions align="end">
    <button
      class="px-4 py-1 bg-red-500 rounded-md text-black text-sm sm:text-lg shadow-md"
      type="submit"
      (click)="disableUsers()">Borrar
    </button>
  </mat-dialog-actions>


</div>

